<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- saved from url=(0071)http://cgi5.ebay.com/ws/eBayISAPI.dll?aidZ153=&MfcISAPICommand=SellHub3 -->
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!--eBay V3- msxml 6.0 XXXXXXXXXXXXXXXXXXXXXXXXXX-->
      <meta name="language" content="English">
      
      <title>eBay &gt; Tell us what you're selling</title>
      <script type="text/javascript" language="JavaScript">var pageName='SYI_3_F_CATEGORYSEARCH';var pageType='';var siteId='0';var cobrandId='2';var server=location.hostname.toLowerCase();var channel='eBay';var colorScheme='transaction';var imagePath='http://pics.ebaystatic.com/aw/pics/';var scriptPath='http://include.ebaystatic.com/aw/pics/';var stylePath='http://include.ebaystatic.com/aw/pics/';var helpPath='http://pages.ebay.com/help/';var jsPath=scriptPath;var ebayToolbox='true';var includeHost='http://include.ebaystatic.com/aw/pics/';</script><script type="text/javascript" src="./images/rtm"></script><script type="text/javascript" src="./images/bubble_help_data_e9871us.js.download" id="bh_tag"></script>
   </head>
   <body>
   <div class="container">
   <div class="col-md-2"> </div>
   <div class="col-md-8" style="margin: 10px 250px">
      <div id="content" class="emlcontent" style="width: 1336px; height: 598px;">
         <div class="pagewidth">
            <div class="pageminwidth">
               <div class="pagelayout">
                  <div class="pagecontainer">
               
                     <div class="shreskin-global-header">
                        <div>
                           <script type="text/javascript">var _GlobalNavHeaderUtf8Encoding=true,includeHost='http://include.ebaystatic.com/';</script><script src="./images/r32gctn0fu3vjkpge2mjhij3q.js.download"></script><script src="./images/ebaybase_v4_e9871us.js.download"></script><script src="./images/ebaysup_e9871us.js.download"></script><script type="text/javascript">if(document.documentMode != 8 && document.compatMode != "CSS1Compat") ebay.oDocument._getControl("headerCommon")._exec("writeStyleSheet");</script>
                           <link href="./images/oh20iy2dxq20njgeagi0gmkhyuw.css" type="text/css" rel="stylesheet">
                           
                          
                              <header id="gh" role="banner" class="gh-flex gh-pre-js gh-w gh-minH ">
                              
                                 <table class="gh-tbl">
                                    <tbody>
                                       <tr>
                                          <td class="gh-td">
                                             <a href="http://www.ebay.com/" _sp="m570.l2586" id="gh-la">eBay<img role="presentation" width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="./images/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo"></a>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 </header>
                         
                        </div>
                      
                     </div>
                     
                     <link rel="stylesheet" href="./images/main_e9871us.css" type="text/css">
                     <link rel="stylesheet" href="./images/ebaystd_e9871us.css" type="text/css">
                     <link rel="stylesheet" href="./images/main_e9871us(1).css" type="text/css">
                     
                     <link rel="stylesheet" href="./images/category_e9871us.css" type="text/css">
                     <script type="text/javascript" language="JavaScript" src="./images/start_selling_e9871us.js.download"> </script><script type="text/javascript" language="JavaScript" src="./images/livehelp_e9871us.js.download"> </script>
                     <div class="brdcmb" id="brdcmb">
                        <b>
                           <div class="level1">SELL YOUR ITEM</div>
                           <div class="active">
                              1. TELL US WHAT YOU'RE SELLING
                           </div>
                           <div class="inactive">2. CREATE YOUR LISTING</div>
                           <div class="inactive">
                              3. REVIEW YOUR LISTING
                           </div>
                        </b>
                     </div>
                     <div class="clr"></div>
                     <br><br>
                     <div class="areaTitleBox" id="areaTitleBox" style="margin-right: 512px">
                        <div class="areaTitle">
                           <a name="mainContent" id="mainContent" tabindex="-1"></a>
                           <h1>Tell us what you're selling</h1>
                        </div>
                        <div class="areaCtl">
                           <div class="headerLnks"><span class="pipespace"><a href="http://pages.ebay.com/help/sell/contextual/inframe/choosing-category.html" id="helpBtnlink" class="spacesyi">Help</a></span><a href="http://ocsnext.ebay.com/ocs/eua?pid=506" id="cntctusLnk" onclick="ebayShowPopupWindow(this.href, &#39;&#39;, 472, 320, &#39;no&#39;, &#39;no&#39;, &#39;no&#39;, &#39;no&#39;, &#39;no&#39;); return false;;" class="cntctimg">Contact us<b class="acc-hdn"> - opens in a new window or tab</b></a></div>
                        </div>
                        <div class="clr"></div>
                     </div>
                     <div id="page_message"></div>
                     <div id="cssError_sec">
                        <!--DIV-->
                     </div>
                     <div id="StartSellingRTM_sec">
                       
                     </div>
                     <div>
                        <!--DIV-->
                     </div>
                     <div style="margin-right: 512px">
                        <div class="ttlPanel-n">
                           <div class="ttlPanel-e">
                              <div class="ttlPanel-w"></div>
                           </div>
                        </div>
                        <div class="ttlPanel-head">
                           <h2 class="lst">Start a new listing</h2>
                           <span class="titleCtl"></span>
                        </div>
                        <div class="secCnt">
                           <div>
                              <div>
                                 <form action="/sell_info" method="get" name="StartSelling">
                                    <div class="idtHrz">
                                       <div aria-hidden="false">
                                          <div class="verSpc"> </div>
                                          Give us a title for your listing <span id="vinHelp"></span><br>
                                       </div>
                                       <div>
                                          <div><input type="text" id="keywords" name="keywords" value="" class="posRelat keywordsSyi" aria-autocomplete="list" aria-expanded="false" role="combobox" aria-owns="results" autocomplete="off" title="Give us a title for your listing or enter a UPC, ISBN, VIN or Part Number. "><input type="submit" value="Get started"></div>
                                          <div id="lyrCatalogAutoComplete" class="clgAutoCmplLyr" style="display: none; visibility: hidden;" aria-hidden="true">
                                             <div id="results" class="results" role="listbox">
                                                <div id="suggLyr" style="display:none"></div>
                                                <div id="kwResultSet"></div>
                                                <div id="vertDiv" class="vertDiv"></div>
                                                <div id="resultSet" tabindex="-1"></div>
                                                <div></div>
                                                <div class="nav" id="nav"><a href="javascript:{}" id="lnkSeeMoreProd">Show all matching products</a></div>
                                             </div>
                                          </div>
                                          </form>
                                          <div id="ariaSugLyr" class="g-hdn" aria-live="assertive" aria-atomic="true" aria-relevant="text" role="status"></div>
                                          <div class="idtHrz" style="display:none"></div>
                                         
                                       <div class="idtTopSm help">
                                          For example: Mobile, Car, Cookies, Camera
                                       </div>
                                       <div>
                                          <br>
                                       </div>
                                       <div>
                                          <div class="vertLnks"></div>
                                       </div>
                                       
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                        <div class="ttlPanel-s">
                           <div class="ttlPanel-e">
                              <div class="ttlPanel-w"></div>
                           </div>
                        </div>
                     </div>
                     <div>
                      
                     </div>
                     
                     
                  </div>
               </div>
            </div>
         </div>
       
      </div>
      
        
      </div>
      </div>
      <div class="col-md-2"></div>
      </div>
   </body>
</html>